body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: #333;
    text-decoration: none;
}

.list-name {
    font-weight: bold;
    text-align: left;
    vertical-align: top !important;
    padding: 10px;
}

.list-details {
    text-align: left;
    vertical-align: top !important;
    padding: 15px;   
}